body {
   /* background: url("../img/logo_wz.png");*/
    font-family: notosans, sans-serif;
    /*font-family: Arial, serif;*/

}

.container {
    width: 100%;
    color: red;
    max-width: 1200px;
    margin: 0 auto;
}

.section-content {
    color: green;
    /*background: url("../img/logo_wz.png");*/
}
